<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>bbt</title>
	<link rel="stylesheet" href="/index.css">
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<header>
		<div class="user_name">
		</div>
		<div class="user_right">
			这是header
		</div>
	</header>